<div class="columns">
  <div class="column">
    <h1 class="is-size-4 pb-5">Zoznam kontaktov</h1>
  </div>
  <div class="column to-right">
    <%= link_to "Pridať nový kontakt", new_contact_path, class: "button is-info" %>
    <%= link_to 'Export do CSV', contacts_path(format: :csv), class: "button is-warning ml-2" %>
    <%= form_with(url: import_contacts_path, local: true, method: :post, html: { multipart: true }, class: "button is-warning ml-2") do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV", class: "button is-primary is-light" %>
    <% end %>
  </div>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th>Priezvisko a Meno</th>
      <th>Klapka</th>
      <th>Odbor / oddelenie</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <%= render "contact_list", contact: contact %>
    <% end %>
  </tbody>
</table>


